body 
{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f5f8f5;
  color: #333;
}

/* Navigation Bar */
nav 
{
  background-color: #69b164;
  color: white;
  padding: 12px 40px;
}

.navbar-items 
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a 
{
  color: rgb(255, 255, 255);
  background-color: #468e46;
  border-radius: 20px;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  margin: 10px;
  transition: all 0.3s ease;
}

nav i
{
  margin-right: 5px;
}

nav a:hover 
{
  background-color: #2c582c;
	color: #ffffff;
  transform: scale(1.05);
}

nav h1 
{
  font-size: 22px;
  margin: 0;
}

/* About Section */
.about-routify 
{
  max-width: 900px;
  margin: 60px auto;
  text-align: center;
  padding: 0 20px;
}

.about-routify h1 
{
  color: #3a9433;
  font-size: 36px;
  margin-bottom: 20px;
}

.about-routify p 
{
  font-size: 16px;
  line-height: 1.8;
  color: #555;
}

/* Founders Section */
.founders-Container 
{
  background-color: white;
  padding: 60px 20px;
  text-align: center;
}

.founders-Container h1 
{
  color: #3a9433;
  font-size: 32px;
  margin-bottom: 40px;
}

/* Founder Card Layout */
.founder-card 
{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 1000px;
  height: 250px;
  background: #f8fdf8;
  box-shadow: 0 6px 20px rgba(58, 148, 51, 0.2);
  border-radius: 20px;
  margin: 20px auto 40px auto;
  padding: 40px;
  gap: 40px;
  flex-wrap: wrap;
}

.founder-card.reverse 
{
  flex-direction: row-reverse;
  text-align: center;
}

.founder-card.reverse .founder-right 
{
  align-items: center;
}

.founder-card.reverse .social-links 
{
  justify-content: flex-end; 
  margin: 10px;
}

.founder-left 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex: 0 0 300px;
}

.founder-left img 
{
  width: 200px;
  height: 200px;
  border-radius: 10%;
  object-fit: cover;
  box-shadow: 2px 2px 10px #2b6e26;
}

.founder-left h3 
{
  font-size: 20px;
  color: #2f6627;
  margin: 0;
  font-weight: 700;
}

.founder-right 
{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.founder-right p
{
  font-size: 15px;
  color: #444;
  line-height: 1.7;
  margin: 10px;
}


.social-links 
{
  display: flex;
  gap: 20px;
}

.social-links a 
{
  text-decoration: none;
  color: #3a9433;
  font-size: 26px;
  transition: color 0.3s, transform 0.2s;
}

.social-links a:hover 
{
  color: #2b6e26;
  transform: scale(1.15);
}